<!DOCTYPE html>
<html>
	<head>
		<title>validator tests</title>
		<style></style>
	</head>
	<body ng-app="app">
		<div ng-controller="formController">

            <form role="form" name="Form" novalidate="">

            	<b>Name: </b> <input ng-model="post.name"/> 
            	<br/>
            	<b>Email: </b> <input ng-model="post.email"/> 
            	<br/>
            	<b>Title: </b> <input ng-model="post.title"/> 
            	<br/><br/>

            	<b>Comments: </b>

            	<button ng-click="addComment()">Add Comment</button>
            	<br/><br/>

            	<div ng-repeat="comment in post.comments">
	            	Message: <input ng-model="comment.message"/>
	            	<br/>
            		Date: <input ng-model="comment.date"/>
            		<br/>
            		<button ng-click="deleteComment($index)">Delete</button>
            		<br/><br/>
            	</div>

            </form>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

			{{validPost}}

		</div>
	</body>

	<!-- essentials -->
	<script src="https://code.jquery.com/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="./bower_components/angular/angular.js" type="text/javascript"></script>

	<!-- our angular stuff -->
	<script src="./controller.js" type="text/javascript"></script>
	<script src="./schemes.js" type="text/javascript"></script>

	<!-- libraries to assess  -->

	<!-- js-schema -->
	<!-- <script src="./bower_components/js-schema/js-schema.min.js" type="text/javascript"></script> -->
	
	<!-- robocop -->
	<!-- <script src="./bower_components/robocop.js/dist/robocop.js"></script> -->
	
	<!-- validator -->
	<!-- <script src="./bower_components/validator/validator.js"></script> -->

	<!-- verify.js -->
	<!-- <script src="./bower_components/verifyjs/dist/verify.js"></script> -->


</html>